*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.textContainer{
    width: 90vw;
    height: 30vh;
    box-shadow: 0 0 20px 2px black;
    border-radius: .5rem;
    padding: 1rem;
    outline: none;
    margin: auto;
    margin-top: 3rem;
    background:linear-gradient(to bottom, grey, whitesmoke);
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;

}
.keyboard{
    width: 70vw;
    height: 50vh;
    background: linear-gradient(to top, black, grey);
    border-radius: .5rem;
    box-shadow: 0 0 20px 2px black;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: wheat;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.space{
    width: 50%;
    height: 2rem;
    background-color: wheat;
    border-radius: .5rem;
    box-shadow: 0 0 20px 2px black;
}
.active{
    color: black;
    transform: scale(.7);
}
.key{
    padding: .7rem;
    cursor: pointer;
    background: linear-gradient(to top, black, grey);
    border-radius: .5rem;
    box-shadow: 0 0 20px 2px black;
}
.key:active{
    box-shadow: inset 0 0 20px 2px black;
    transition: all 0.3s ease-in-out;
    transform: scale(.9);
}
